<a href="https://colab.research.google.com/github/FloxTBoTyy/Mi-primer-repository/blob/main/jupyter_labs_webscraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Space X  Falcon 9 First Stage Landing Prediction**

## Web scraping Falcon 9 and Falcon Heavy Launches Records from Wikipedia

Estimated time needed: **40** minutes

In this lab, you will be performing web scraping to collect Falcon 9 historical launch records from a Wikipedia page titled `List of Falcon 9 and Falcon Heavy launches`

https://en.wikipedia.org/wiki/List_of_Falcon_9_and_Falcon_Heavy_launches

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_1_L2/images/Falcon9_rocket_family.svg)

Falcon 9 first stage will land successfully

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/landing_1.gif)

Several examples of an unsuccessful landing are shown here:

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/crash.gif)

More specifically, the launch records are stored in a HTML table shown below:

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_1_L2/images/falcon9-launches-wiki.png)

  ## Objectives
Web scrap Falcon 9 launch records with `BeautifulSoup`:
- Extract a Falcon 9 launch records HTML table from Wikipedia
- Parse the table and convert it into a Pandas data frame

First let's import required packages for this lab

In [18]:
import sys
import requests
from bs4 import BeautifulSoup
import re
import unicodedata
import pandas as pd

and we will provide some helper functions for you to process web scraped HTML table

In [19]:
def date_time(table_cells):

    """
    This function returns the data and time from the HTML  table cell
    Input: the  element of a table data cell extracts extra row
    """


    return [data_time.strip() for data_time in list(table_cells.strings)][0:2]

def booster_version(table_cells):
    """
    This function returns the booster version from the HTML  table cell
    Input: the  element of a table data cell extracts extra row
    """
    out=''.join([booster_version for i,booster_version in enumerate( table_cells.strings) if i%2==0][0:-1])
    return out

def landing_status(table_cells):
    """
    This function returns the landing status from the HTML table cell
    Input: the  element of a table data cell extracts extra row
    """
    out=[i for i in table_cells.strings][0]
    return out


def get_mass(table_cells):
    mass=unicodedata.normalize("NFKD", table_cells.text).strip()
    if mass:
        mass.find("kg")
        new_mass=mass[0:mass.find("kg")+2]
    else:
        new_mass=0
    return new_mass


def extract_column_from_header(row):
    """
    This function returns the landing status from the HTML table cell
    Input: the  element of a table data cell extracts extra row
    """
    if (row.br):
        row.br.extract()
    if row.a:
        row.a.extract()
    if row.sup:
        row.sup.extract()

    colunm_name = ' '.join(row.contents)

    # Filter the digit and empty names
    if not(colunm_name.strip().isdigit()):
        colunm_name = colunm_name.strip()
        return colunm_name

To keep the lab tasks consistent, you will be asked to scrape the data from a snapshot of the  `List of Falcon 9 and Falcon Heavy launches` Wikipage updated on
`9th June 2021`

In [20]:
static_url = "https://en.wikipedia.org/w/index.php?title=List_of_Falcon_9_and_Falcon_Heavy_launches&oldid=1027686922"

Next, request the HTML page from the above URL and get a `response` object

### TASK 1: Request the Falcon9 Launch Wiki page from its URL

First, let's perform an HTTP GET method to request the Falcon9 Launch HTML page, as an HTTP response.

In [24]:
# use requests.get() method with the provided static_url
# assign the response to a object
response = requests.get(static_url)
response.status_code

200

In [119]:
#response.text

Create a `BeautifulSoup` object from the HTML `response`

In [120]:
# Use BeautifulSoup() to create a BeautifulSoup object from a response text content
soup = BeautifulSoup(response.text,'html.parser')

Print the page title to verify if the `BeautifulSoup` object was created properly

In [ ]:
# Use soup.title attribute
soup.title

### TASK 2: Extract all column/variable names from the HTML table header

Next, we want to collect all relevant column names from the HTML table header

Let's try to find all tables on the wiki page first. If you need to refresh your memory about `BeautifulSoup`, please check the external reference link towards the end of this lab

In [ ]:
# Use the find_all function in the BeautifulSoup object, with element type `table`
# Assign the result to a list called `html_tables`
html_tables = soup.find_all('table')
len(html_tables)

24

Starting from the third table is our target table contains the actual launch records.

In [121]:
# Let's print the third table and check its content
first_launch_table = html_tables[2]

You should able to see the columns names embedded in the table header elements `<th>` as follows:

```
<tr>
<th scope="col">Flight No.
</th>
<th scope="col">Date and<br/>time (<a href="/wiki/Coordinated_Universal_Time" title="Coordinated Universal Time">UTC</a>)
</th>
<th scope="col"><a href="/wiki/List_of_Falcon_9_first-stage_boosters" title="List of Falcon 9 first-stage boosters">Version,<br/>Booster</a> <sup class="reference" id="cite_ref-booster_11-0"><a href="#cite_note-booster-11">[b]</a></sup>
</th>
<th scope="col">Launch site
</th>
<th scope="col">Payload<sup class="reference" id="cite_ref-Dragon_12-0"><a href="#cite_note-Dragon-12">[c]</a></sup>
</th>
<th scope="col">Payload mass
</th>
<th scope="col">Orbit
</th>
<th scope="col">Customer
</th>
<th scope="col">Launch<br/>outcome
</th>
<th scope="col"><a href="/wiki/Falcon_9_first-stage_landing_tests" title="Falcon 9 first-stage landing tests">Booster<br/>landing</a>
</th></tr>
```

Next, we just need to iterate through the `<th>` elements and apply the provided `extract_column_from_header()` to extract column name one by one

In [ ]:
column_names = []

# Apply find_all() function with `th` element on first_launch_table
# Iterate each th element and apply the provided extract_column_from_header() to get a column name
# Append the Non-empty column name (`if name is not None and len(name) > 0`) into a list called column_names
for element in first_launch_table.find_all('th'):
  column_names.append(extract_column_from_header(element))

Check the extracted column names

In [ ]:
print(column_names)

['Flight No.', 'Date and time ( )', '', 'Launch site', 'Payload', 'Payload mass', 'Orbit', 'Customer', 'Launch outcome', '', None, None, None, None, None, None, None]

In [ ]:
launch_dict= dict.fromkeys(column_names)
launch_dict

{'Flight No.': None,
 'Date and time ( )': None,
 '': None,
 'Launch site': None,
 'Payload': None,
 'Payload mass': None,
 'Orbit': None,
 'Customer': None,
 'Launch outcome': None,
 None: None}

## TASK 3: Create a data frame by parsing the launch HTML tables

We will create an empty dictionary with keys from the extracted column names in the previous task. Later, this dictionary will be converted into a Pandas dataframe

In [90]:
launch_dict= dict.fromkeys(column_names)

# Remove an irrelvant column
del launch_dict['Date and time ( )']

# Let's initial the launch_dict with each value to be an empty list
launch_dict['Flight No.'] = []
launch_dict['Launch site'] = []
launch_dict['Payload'] = []
launch_dict['Payload mass'] = []
launch_dict['Orbit'] = []
launch_dict['Customer'] = []
launch_dict['Launch outcome'] = []
# Added some new columns
launch_dict['Version Booster']=[]
launch_dict['Booster landing']=[]
launch_dict['Date']=[]
launch_dict['Time']=[]

In [91]:
launch_dict

{'Flight No.': [],
 '': None,
 'Launch site': [],
 'Payload': [],
 'Payload mass': [],
 'Orbit': [],
 'Customer': [],
 'Launch outcome': [],
 None: None,
 'Version Booster': [],
 'Booster landing': [],
 'Date': [],
 'Time': []}

Next, we just need to fill up the `launch_dict` with launch records extracted from table rows.

Usually, HTML tables in Wiki pages are likely to contain unexpected annotations and other types of noises, such as reference links `B0004.1[8]`, missing values `N/A [e]`, inconsistent formatting, etc.

To simplify the parsing process, we have provided an incomplete code snippet below to help you to fill up the `launch_dict`. Please complete the following code snippet with TODOs or you can choose to write your own logic to parse all launch tables:

In [33]:
len(soup.find_all('table',"wikitable plainrowheaders collapsible"))

9

In [ ]:
soup.find_all('table',"wikitable plainrowheaders collapsible")[0].find_all('tr')[2].th.string.strip()

In [59]:
]soup.find_all('table',"wikitable plainrowheaders collapsible")[0].find_all('tr')[0].th.string.strip().isdigit()

False

In [77]:
date_time(soup.find_all('table',"wikitable plainrowheaders collapsible")[0].find_all('tr')[1].find_all('td')[0])

['4 June 2010,', '18:45']

In [ ]:
extracted_row = 0
#Extract each table
for table_number,table in enumerate(soup.find_all('table',"wikitable plainrowheaders collapsible")):
   # get table row
    for rows in table.find_all("tr"):
        #check to see if first table heading is as number corresponding to launch a number
        if rows.th:

            if rows.th.string:
                flight_number=rows.th.string.strip()
                flag=flight_number.isdigit()
        else:
            flag=False
        #get table element
        row=rows.find_all('td')
        #if it is number save cells in a dictonary
        if flag==True:
            extracted_row += 1
            # Flight Number value
            # TODO: Append the flight_number into launch_dict with key `Flight No.`
            launch_dict['Flight No.'].append(flight_number)
            #print(flight_number)
            print(flight_number)
            datatimelist=date_time(row[0])

            # Date value
            # TODO: Append the date into launch_dict with key `Date`
            date = datatimelist[0].strip(',')
            launch_dict['Date'].append(date)
            print(date)

            # Time value
            # TODO: Append the time into launch_dict with key `Time`
            time = datatimelist[1]
            launch_dict['Time'].append(time)
            print(time)

            # Booster version
            # TODO: Append the bv into launch_dict with key `Version Booster`
            bv=booster_version(row[1])
            if not(bv):
                bv=row[1].a.string
            launch_dict['Version Booster'].append(bv)
            print(bv)

            # Launch Site
            # TODO: Append the launch_site into launch_dict with key `Launch Site`
            launch_site = row[2].a.string
            launch_dict['Launch site'].append(launch_site)
            print(launch_site)

            # Payload
            # TODO: Append the payload into launch_dict with key `Payload`
            payload = row[3].a.string
            launch_dict['Payload'].append(payload)
            print(payload)

            # Payload Mass
            # TODO: Append the payload_mass into launch_dict with key `Payload mass`
            payload_mass = get_mass(row[4])
            launch_dict['Payload mass'].append(payload_mass)
            print(payload)

            # Orbit
            # TODO: Append the orbit into launch_dict with key `Orbit`
            orbit = row[5].a.string
            launch_dict['Orbit'].append(orbit)
            print(orbit)

            # Customer
            # TODO: Append the customer into launch_dict with key `Customer`
            if row[6].a is not None:
              customer = row[6].a.string
            launch_dict['Customer'].append(customer)
            print(customer)

            # Launch outcome
            # TODO: Append the launch_outcome into launch_dict with key `Launch outcome`
            launch_outcome = list(row[7].strings)[0]
            launch_dict['Launch outcome'].append(launch_outcome)
            print(launch_outcome)

            # Booster landing
            # TODO: Append the launch_outcome into launch_dict with key `Booster landing`
            booster_landing = landing_status(row[8])
            launch_dict['Booster landing'].append(booster_landing)
            print(booster_landing)

In [108]:
for clave, valor in launch_dict.items():
    if valor is not None:
        longitud = len(valor)
    else:
        longitud = 0
    print(f"La longitud de la lista en la clave '{clave}' es: {longitud}")

La longitud de la lista en la clave 'Flight No.' es: 228
La longitud de la lista en la clave 'Launch site' es: 227
La longitud de la lista en la clave 'Payload' es: 227
La longitud de la lista en la clave 'Payload mass' es: 227
La longitud de la lista en la clave 'Orbit' es: 227
La longitud de la lista en la clave 'Customer' es: 226
La longitud de la lista en la clave 'Launch outcome' es: 226
La longitud de la lista en la clave 'Version Booster' es: 228
La longitud de la lista en la clave 'Booster landing' es: 226
La longitud de la lista en la clave 'Date' es: 228
La longitud de la lista en la clave 'Time' es: 228

In [100]:
for clave, valor in launch_dict.items():
    if clave != '' and valor is not None:
        longitud = len(valor)
    else:
        longitud = 0
    print(f"La longitud de la lista en la clave '{clave}' es: {longitud}")

La longitud de la lista en la clave 'Flight No.' es: 228
La longitud de la lista en la clave '' es: 0
La longitud de la lista en la clave 'Launch site' es: 227
La longitud de la lista en la clave 'Payload' es: 227
La longitud de la lista en la clave 'Payload mass' es: 227
La longitud de la lista en la clave 'Orbit' es: 227
La longitud de la lista en la clave 'Customer' es: 226
La longitud de la lista en la clave 'Launch outcome' es: 226
La longitud de la lista en la clave 'None' es: 0
La longitud de la lista en la clave 'Version Booster' es: 228
La longitud de la lista en la clave 'Booster landing' es: 226
La longitud de la lista en la clave 'Date' es: 228
La longitud de la lista en la clave 'Time' es: 228

In [107]:
claves_a_eliminar = ['', 'None']

for clave in claves_a_eliminar:
    if clave in launch_dict:
        del launch_dict[clave]
launch_dict.keys()

dict_keys(['Flight No.', 'Launch site', 'Payload', 'Payload mass', 'Orbit', 'Customer', 'Launch outcome', 'Version Booster', 'Booster landing', 'Date', 'Time'])

In [106]:
del launch_dict[None]

In [109]:
longitud_objetivo = 228

for clave, valor in launch_dict.items():
    longitud_actual = len(valor)
    if longitud_actual < longitud_objetivo:
        valores_agregar = longitud_objetivo - longitud_actual
        valor.extend([0] * valores_agregar)

# Imprimir la longitud de las listas en cada clave después de la actualización
for clave, valor in launch_dict.items():
    longitud = len(valor)
    print(f"La longitud de la lista en la clave '{clave}' es: {longitud}")

La longitud de la lista en la clave 'Flight No.' es: 228
La longitud de la lista en la clave 'Launch site' es: 228
La longitud de la lista en la clave 'Payload' es: 228
La longitud de la lista en la clave 'Payload mass' es: 228
La longitud de la lista en la clave 'Orbit' es: 228
La longitud de la lista en la clave 'Customer' es: 228
La longitud de la lista en la clave 'Launch outcome' es: 228
La longitud de la lista en la clave 'Version Booster' es: 228
La longitud de la lista en la clave 'Booster landing' es: 228
La longitud de la lista en la clave 'Date' es: 228
La longitud de la lista en la clave 'Time' es: 228

After you have fill in the parsed launch record values into `launch_dict`, you can create a dataframe from it.

In [110]:
df=pd.DataFrame(launch_dict)

In [115]:
df['Flight No.'] = pd.RangeIndex(start=1, stop=229).astype(int)
df.head()

,Flight No.,Launch site,Payload,Payload mass,Orbit,Customer,Launch outcome,Version Booster,Booster landing,Date,Time
0,1,CCAFS,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success\n,F9 v1.0B0003.1,Failure,4 June 2010,18:45
1,2,CCAFS,Dragon,0,LEO,NASA,Success,F9 v1.0B0003.1,Failure,4 June 2010,18:45
2,3,CCAFS,Dragon,525 kg,LEO,NASA,Success,F9 v1.0B0004.1,No attempt\n,8 December 2010,15:43
3,4,CCAFS,SpaceX CRS-1,"4,700 kg",LEO,NASA,Success\n,F9 v1.0B0005.1,No attempt,22 May 2012,07:44
4,5,CCAFS,SpaceX CRS-2,"4,877 kg",LEO,NASA,Success\n,F9 v1.0B0006.1,No attempt\n,8 October 2012,00:35

In [116]:
df.tail()

,Flight No.,Launch site,Payload,Payload mass,Orbit,Customer,Launch outcome,Version Booster,Booster landing,Date,Time
223,224,KSC,Starlink,"~14,000 kg",LEO,SpaceX,Success\n,F9 B5B1051.10,Success,9 May 2021,06:42
224,225,CCSFS,Starlink,"15,600 kg",LEO,NASA,Success\n,F9 B5B1058.8,Success,15 May 2021,22:56
225,226,KSC,SpaceX CRS-22,"3,328 kg",LEO,Sirius XM,Success\n,F9 B5B1063.2,Success,26 May 2021,18:59
226,227,CCSFS,SXM-8,"7,000 kg",GTO,0,0,F9 B5B1067.1,0,3 June 2021,17:29
227,228,0,0,0,0,0,0,F9 B5,0,6 June 2021,04:26

In [117]:
df.to_csv('spacex_web_scraped.csv', index=False)

We can now export it to a <b>CSV</b> for the next section, but to make the answers consistent and in case you have difficulties finishing this lab.

Following labs will be using a provided dataset to make each lab independent.

<code>df.to_csv('spacex_web_scraped.csv', index=False)</code>

## Authors

<a href="https://www.linkedin.com/in/yan-luo-96288783/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2023-01-01">Yan Luo</a>

<a href="https://www.linkedin.com/in/nayefaboutayoun/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2023-01-01">Nayef Abou Tayoun</a>

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description      |
| ----------------- | ------- | ---------- | ----------------------- |
| 2021-06-09        | 1.0     | Yan Luo    | Tasks updates           |
| 2020-11-10        | 1.0     | Nayef      | Created the initial version |

Copyright © 2021 IBM Corporation. All rights reserved.